<div class="container">
  <div class="d-grid d-flex justify-content-end align-items-center">
    <%= link_to edit_task_path(@task), class: "btn btn-outline-secondary" do  %>
      Edit this task
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    <% end %>
  </div>
  <h1><%= @task.title  %></h1>
  <div class="card mb-2 p-2">
    <p><%= @task.details  %></p>
  </div>

  <div class="d-flex align-items-center">
    <% if @task.completed %>
      <i class="fa-regular fa-square-check"></i>
      <p class="px-1 m-0">Task completed</p>
    <% else %>
      <i class="fa-regular fa-square"></i>
      <p class="px-1 m-0">Task not completed</p>
    <% end %>
  </div>


  <%= link_to tasks_path do %>
    <div class="d-flex align-items-center mt-1">
    <i class="fa-solid fa-arrow-rotate-left"></i>
    <p class="m-0 text-primary" >Back to list</p>
    </div>
  <% end %>

</div>
